.buttonStyle{
    margin:20px;
    width:200px;
}

.overlayText{
    margin:0 auto;
    font-family:Calibri;
    font-size:14px;
}

.headText{
    margin:0 auto;
    font-family:Calibri;
    margin-top:5px;
    margin-bottom:5px;
    font-size:20px;
    font-weight:bolder;
}
